

body {
    background-color: #FFF9EE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    
}

                                                 /* Início do menu superior */ 
#menu_sup {
    border: 1px solid blue;
    background-color: #FFC800;
    text-align: center;
    width: auto;
    height: 120px;
}

#Tecblog {
    color: #FFF9EE;
    color: #55433B;
    font-size: 32px;
    font-weight: 600;
    padding: 8px;
}
#Tecblog span {
    margin-left: -8px;
    color: #FFF9EE;
    font-size: 32px;
    font-weight: 600;
    padding: 8px;
}

#menu_sup ul li {
    list-style-type: none;
    display: inline;
}

#menu_sup a:link, a:visited {
    padding: 10px;
    width: 20px;
    line-height: 10px;
    color: #FFF9EE;
    font-weight: 500;
    text-decoration: none; 
}

#menu_sup a:hover {
    padding: 10px;
    width: 20px;
    line-height: 10px;
    background-color: #FFF9EE;
    list-style-type: none;
    color: #FFC800;
    font-weight: 600;
    text-decoration: none;
}

                                                 /* Fim do menu superior */

                                                 /*Início das notícias */
.conteudo {
    border: 1px solid blue;
    padding: 18px;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 2%;
    margin-left: 15%;
    width: 40%;
    min-width: 660px;
    background-color: #FFFFFF;
    text-align: left;
    float: left;
}

.conteudo h1 {
    color: #FFC800;
}

.conteudo h1+p {
    margin-top: -20px;
    font-weight: 600;
}
                                                 /*Fim das notícias */
                                                 
                                                 /*Início das postagens recentes */                                                 
#navegacao_lat {
    border: 1px solid blue;
    background-color:#FFFFFF;
    padding: 4px;
    margin-top: 2%;
    margin-right: 15%;
    width: 15%;
    height: auto;
    float: right;

}

.navegacao_lat ul {
    background-color: #DFE0DF;
    color: #BBC0BB;
}


                                                 /*Fim das postagens recentes */
